<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AASServerURL" value="http://localhost:51310"/>
		<add key="CIP_ServiceControl_StateCur" value="ProCIP__CIP_ServiceControl.StateCur"/>
		<add key="CIP_ServiceControl_ProcedureCur" value="ProCIP__CIP_ServiceControl.ProcedureCur"/> 
	</appSettings>
</configuration>